    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    
    .btn {
        color: white;
        background: #FF5959;
        padding: 12px 20px;
        text-decoration: none;
        border-radius: 5px;
    }
    
    h1 {
        font-size: 2.5rem;
        color: #121212;
    }
    
    p {
        font-size: 1.2rem;
        color: #707070;
        width: 50%;
        margin: 15px auto;
    }
    
    .half-width {
        width: 50%;
    }
    /* top section start */
    
    .top-section {
        background: url(images/Rectangle\ 237.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        color: white;
    }
    
    .top-container {
        background-image: linear-gradient(to top, rgba(18, 18, 18, 1), rgba(18, 18, 18, 0));
        text-align: center;
        margin: auto;
        width: 100%;
        height: 700px;
    }
    
    .top-container h1 {
        padding-top: 150px;
        font-size: 60px;
        /* font-size: 3rem; */
        color: white;
    }
    
    .top-container p {
        font-size: 1.2rem;
        width: 50%;
        margin: 20px auto 40px;
        color: white;
    }
    /* top section end */
    /* donate today section start */
    
    .donate-today {
        height: 550px;
    }
    
    .donate-today-cotainer {
        text-align: center;
        margin-top: 130px;
    }
    
    .donate-today-amout-card {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        margin: 40px auto;
    }
    
    .amout-card {
        width: 135px;
        height: 123px;
        background-color: #fafafa;
        color: #707070;
        font-size: 1.8rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
    
    .colored-card {
        background: #ffeeee;
        color: #FF5959;
        border: 1px solid #FF5959;
    }
    
    .donate-today-cotainer input {
        display: block;
        width: 55%;
        margin: 40px auto;
        outline: none;
        border: none;
        border-bottom: 1px solid #707070;
        text-align: center;
        padding: 10px;
    }
    /* donate today section end */
    /* donation plan start */
    
    .plan-contaier {
        text-align: center;
        padding-top: 50px;
    }
    
    .plan-card-container {
        display: flex;
        gap: 25px;
        justify-content: center;
        width: 80%;
        margin: 20px auto;
    }
    
    .plan-card {
        width: 360px;
        height: 360px;
        padding-top: 70px;
        border-radius: 5px;
    }
    
    .plan-card h1 {
        margin-top: 30PX;
    }
    
    .plan-card p {
        font-size: 1rem;
        text-align: justify;
    }
    
    #card-1 {
        background-color: #EEF6F7;
    }
    
    #card-2 {
        background-color: #FFEFEF;
    }
    
    #card-3 {
        background-color: #f7eccc;
    }
    
    #card-3 img {
        width: 20px;
    }
    /* donation plan end */
    /*contribution section start */
    
    .contribute {
        width: 80%;
        margin: 50px auto;
        margin-top: 100px;
    }
    
    .contribute-container {
        display: flex;
        justify-content: center;
    }
    
    .contribution-card {
        margin: 5%;
        width: 400px;
        height: 400px;
    }
    
    .contribution-card p {
        font-size: 1rem;
        width: 100%;
        text-align: justify;
        margin: 10px 0;
        margin-bottom: 50px;
    }
    
    .contribution-card img {
        width: 470px;
        height: 450px
    }
    /*contribution section end */
    /* organization section start */
    
    .organization {
        text-align: center;
    }
    
    .ogranaization-container {
        width: 80%;
        margin: auto;
        padding: 100px 0;
        display: flex;
    }
    
    .logo {
        width: 30%;
        margin-right: 5%;
    }
    
    .logo img {
        width: 300px;
    }
    
    .organization-text {
        width: 65%;
        text-align: left;
    }
    
    .organization-text h1 {
        color: #383897;
    }
    
    .organization-text p {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    /* organization section end */
    /* subscribe section start */
    
    .subscribe-section {
        text-align: center;
        margin: 50px auto;
    }
    
    .email-section {
        width: 800px;
        height: 200px;
        background-color: #FFF4D6;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .email-section input {
        width: 450px;
        height: 45px;
        padding-left: 2%;
        margin-right: -5px;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    
    button {
        border: none;
        outline: none;
    }
    /* subscribe section end */
    /* footer start */
    
    footer {
        height: 180px;
        text-align: center;
        background-color: #0B0D17;
        padding-top: 50px;
    }
    
    footer h1 {
        color: #FF5959;
        font-family: 'Lobster', cursive;
        font-weight: 100;
    }
    
    footer p {
        color: white;
    }
    /* footer end */